@import "../App.css";

.nav-bar-connexion {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20vh;
}

li {
  display: inline-block;
}

.login-selected > a {
  font-weight: bolder;
  text-underline-offset: 8px;
  color: black;

}

.signin-selected > a {
  color: var(--basic-grey);
  text-decoration: none;
  margin: auto 40px auto 20px;
}

.container-login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.connexion-cards {
  margin: 64px 24px;
  display: flex;
  gap: 1rem;
}

.applicant-card,
.company-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 112px;
  width: 176px;
  border: var(--border_card);
  box-shadow: var(--shadow_initial);
  border-radius: 16px;
  background-color: #fff;
  &:focus {
    border:solid var(--main-color);
  }
}

.applicant-card > div,
.company-card > div {
  padding-left: 8px;
}

img {
  max-height: 80%;
  max-width: 80%;
  object-fit: fill;
}

.signin-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 50vh;
  height: 45vh;
  margin: auto;
  padding: 0 24px;
  border: var(--border_card);
  box-shadow: var(--shadow_initial);
  border-radius: 16px;
}

.mail,
.password {
  display: flex;
  align-items: center;
}

svg {
  position: absolute;
  top: auto;
}

input {
  margin: 24px 0;
  padding: 8px 16px 8px 24px;
  width: 284px;
  border: none;
  border-bottom: solid 1px var(--basic-grey);
  background: transparent;
  &:focus {
    outline: none;
  }
}

.error-email,
.error-password {
  color: var(--main-color);
  font-style: italic;
  font-size: smaller;
  position: absolute;
  width: max-content;
  margin-top: 48px;
}

.signin-form > a {
  margin: 0 0 32px auto;
  text-decoration: none;
  color: var(--basic-grey);
  font-size: 12px;
}

.btn-connexion {
  position: relative;
  margin-bottom: 16px;
  width: 120px;
  height: 32px;
  border-radius: 20px;
  box-shadow: var(--shadow_initial);
  text-align: center;
  background-color: black;
  color: #fff;
  font-weight: bolder;
  &:focus {
    background-color: var(--main-color);
    border: solid 1px var(--main-color);
  }
}

@media screen and (min-width: 768px) {
  img {
    max-height: 100%;
    max-width: 100%;
  }

  .container-login {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 3rem;
    margin: 32px auto;
  }

  .connexion-cards {
    flex-direction: column;
    margin: auto;
  }

  .applicant-card,
  .company-card {
    margin: 24px 0;
    width: 316px;
    height: 138px;
  }

  .signin-form {
    height: 60vh;
    justify-content: center;
    width: fit-content;
  }
}
