#offerModalContent > h2,
h3 {
  text-align: left;
}
#offerModalContent > p {
  text-align: left;
  white-space: pre-line;
}
#offerModalContent {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#offerModalContent::-webkit-scrollbar {
  width: 0.9rem;
}
::-webkit-scrollbar-track-piece {
  margin-top: 4rem;
}
#offerModalContent::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 1rem;
  border: 0.4rem solid white;
}
.titleModal {
  color: var(--main-color);
}
.crossSectionModal {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--light-grey);
  background-color: white;
}
.offerModalColor {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--third-color);
  gap: 1rem;
  width: auto;
  border-radius: 0.6rem;
  padding: 1rem;
}
.modalContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* margin: 2rem; */
}
.modalContainer > .offerTextAndIcon {
  margin-top: 1rem;
}
.buttonClose:hover {
  cursor: pointer;
}
.buttonModal {
  display: flex;
  justify-content: end;
}

.ReactModal__Overlay {
  transform: translateY(100vh);
  transition: transform 500ms;
}

.ReactModal__Overlay--after-open {
  transform: translateY(0vh);
}

.ReactModal__Overlay--before-close {
  transform: translateY(100vh);
}

@media screen and (min-width: 768px) {
  #offerModalContent {
    width: 60%;
    height: 80vh;
    margin: 2rem;
  }
  .ReactModal__Content--after-open {
    padding: 0px;
  }
  .crossSectionModal {
    display: none;
  }
  .modalContainer {
    margin-inline: 2rem;
  }
}
