.secNav {
  display: flex;
  overflow: auto;
  white-space: nowrap;
  background-color: #fff;
  position: sticky;
  top: 7vh;
  width: 100%;
  margin-bottom: 1rem;
  z-index: 1;
  border-top: 1px solid var(--light-grey);
}

.secNav a {
  padding: 1rem;
  display: inline-block;
  color: black;
}

.secNav a:hover {
  text-decoration: underline;
  color: var(--main-color);
}

.linkSelected {
  text-decoration: underline;
  font-weight: bold;
}

@media screen and (min-width: 480px) {
  .secNav {
    justify-content: center;
  }

  .secNav a {
    padding: 1rem 3rem;
  }
}
