.passwordVisible.eyeOpen {
  width: 2rem;
  height: 2rem;
  background-image: url("../../assets/icons/eye_open.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.passwordVisible.eyeClosed {
  width: 2rem;
  height: 2rem;
  background-image: url("../../assets/icons/eye_closed.svg");
  background-repeat: no-repeat;
  background-position: center;
}
