.nav-bar-connexion {
  display: flex;
  justify-content: center;
  margin: 10vh auto 10vh auto;
}

.nav-bar-connexion li {
  display: inline-block;
}

.login-selected a {
  font-weight: bolder;
  text-decoration: underline 2px;
  text-underline-offset: 8px;
  color: black;
  font-size: larger;
}

.signin-selected a {
  color: var(--basic-grey);
  text-decoration: none;
  margin: auto 40px auto 20px;
  font-size: larger;
}

.container-login {
  display: flex;
  margin: 2rem;
  flex-direction: column;
}

.login-option {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem auto;
}

.login-image {
  display: none;
}
.connexion-cards {
  flex-direction: column;
  display: flex;
  gap: 2rem;
}

.applicant-card,
.company-card {
  display: flex;
  align-items: center;
  height: 50vw;
  width: 80vw;
  border: var(--border_card);
  box-shadow: var(--shadow_initial);
  border-radius: 16px;
  background-color: #fff;
  cursor: pointer;
}

.applicant-card:focus,
.company-card:focus {
  border: solid var(--main-color);
}

.applicant-card h2,
.company-card h2 {
  padding: 1rem;
  font-size: larger;
  font-weight: bolder;
}

.applicant-card img,
.company-card img {
  max-height: 100%;
  max-width: 100%;
  object-fit: fill;
}

.signin-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 45vh;
  height: 45vh;
  margin: 2rem auto;
  padding: 0 1rem;
  border: var(--border_card);
  box-shadow: var(--shadow_initial);
  border-radius: 16px;
}

.mail,
.password {
  display: flex;
  align-items: center;
}

.mail-icon,
.password-icon {
  position: absolute;
  top: auto;
}

.signin-form input {
  margin: 24px 0;
  padding: 0.5rem 2rem;
  border: none;
  border-bottom: solid 1px var(--basic-grey);
  background: transparent;
  &:focus {
    outline: none;
  }
}

.error-email,
.error-password {
  color: var(--main-color);
  font-style: italic;
  font-size: smaller;
  position: absolute;
  width: max-content;
  margin-top: 4rem;
}

.signin-form a {
  margin: 0 0 2rem auto;
  text-decoration: none;
  color: var(--basic-grey);
  font-size: 0.8rem;
}

.btn-connexion {
  position: relative;
  width: 14rem;
  height: 32px;
  margin-bottom: 1rem;
  border-radius: 20px;
  box-shadow: var(--shadow_initial);
  text-align: center;
  background-color: black;
  font-size: large;
  color: #fff;
  cursor: pointer;
}

.btn-connexion:hover {
  background-color: var(--main-color);
  border: solid 1px var(--main-color);
}
@media screen and (min-width: 768px) {
  .container-login {
    width: 90%;
    margin: auto;
  }

  .login-option {
    width: 100%;
    height: 90%;
    justify-content: space-around;
  }
  .login-image {
    display: inherit;
    width: 50%;
  }
  .connexion-cards {
    flex-direction: column;
  }

  .applicant-card,
  .company-card {
    margin: 24px 0;
    width: 316px;
    height: 138px;
  }
  .applicant-card img,
  .company-card img {
    max-height: 100%;
    max-width: 100%;
  }

  .signin-form {
    height: 50vh;
    justify-content: center;
    width: 50%;
  }
  .btn-connexion {
    margin-top: 4rem;
    width: 70%;
  }
}
