.nav-bar-connexion {
  display: flex;
  justify-content: center;
  margin: 10vh auto 10vh auto;
}

.nav-bar-connexion li {
  display: inline-block;
}

.login-selected a {
  font-weight: bolder;
  font-size: larger;
  text-decoration: underline 2px;
  text-underline-offset: 8px;
  color: black;
}

.signin-selected a {
  color: var(--basic-grey);
  text-decoration: none;
  margin: auto 40px auto 20px;
  font-size: larger;
}

.container-login {
  display: flex;
  margin: 2rem;
  flex-direction: column;
}

.login-option {
  display: flex;
  align-items: center;
  margin: 2rem auto;
}

.login-image {
  display: none;
}

.connexion-cards {
  flex-direction: column;
  display: flex;
  margin: auto;
}

.applicant-card,
.company-card {
  display: flex;
  align-items: center;
  margin: 1.8rem auto;
  height: 50vw;
  width: 80vw;
  border: var(--border_card);
  box-shadow: var(--shadow_initial);
  border-radius: 16px;
  background-color: #fff;
  cursor: pointer;
}

.applicant-card.focused,
.company-card.focused {
  border: solid var(--main-color);
}

.applicant-card h2,
.company-card h2 {
  padding: 1rem;
  font-size: larger;
  font-weight: bolder;
}

.applicant-card img,
.company-card img {
  max-height: 90%;
  max-width: 90%;
  object-fit: fill;
}

@media screen and (min-width: 768px) {
  .container-login {
    background-image: url("../../assets/images/login-page.png");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: right;
    background-color: var(--white-80);
    border: solid 1px var(--main-color);
    box-shadow: var(--shadow_initial);
    border-radius: 16px;
    width: 75%;
    height: 80%;
    flex-direction: row;
    margin: 5rem auto;
    align-items: center;
  }

  .login-option {
    margin: 2rem;
  }

  .login-image {
    display: inherit;
    width: 50%;
  }
  .connexion-cards {
    margin: inherit;
  }

  .applicant-card,
  .company-card {
    margin: 24px 0;
    width: 316px;
    height: 162px;
  }
  .applicant-card img,
  .company-card img {
    height: fit-content;
    width: fit-content;
  }
  .form-container {
  }
}
