.errorMessage {
  color: var(--main-color);
  font-style: italic;
  font-size: smaller;
  position: absolute;
  width: 100%;
  margin-top: 5rem;
}


.errorLogin {
  color: var(--main-color);
}

@media screen and (min-width: 768px) {
  .containerLogin {
    background-image: url("../../assets/images/admin-connexion.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: right;
    background-color: var(--white-80);
    border: solid 0.1rem var(--main-color);
    box-shadow: var(--shadow_initial);
    border-radius: 1rem;
    width: 60rem;
    height: 35rem;
    margin: auto;
    display: flex;
  }

  .form.connexion {
    margin: 6rem 5rem;
    width: 20rem;
    height: 25rem;
    justify-content: space-around;
  }

}
