.imageContainer {
  width: 100%;
  height: 20rem;
}

.inputContainer {
  padding: 0 2rem;
  position: relative;
  width: 100%;
  
}

.resultsSearch {
  visibility: hidden;
}

.resultsSearch.show {
  visibility: visible;
}

.searchSuggestions {
  position: absolute;
  z-index: 3;
  width: 20rem;
  background-color: #898989ce;
  padding: 0.5rem;
}

.carouselContent {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.carouselItem {
  flex: 0 0 25%;
  margin-right: 10px;
}

.TextIcon {
  display: flex;
  justify-content: center;
  margin: 16px;
}

.descriptionHome {
  display: flex;
  justify-content: space-around;
  margin: 20px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.itemtext p {
  text-align: center;
  margin: 40px 0 0 30px;
}

.carouselContainer {
  position: relative;
}

.carouselButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.prevButton {
  left: 10px;
}

.nextButton {
  right: 10px;
}

@media screen and (min-width: 768px) {
  .imageContainer {
    height: 35rem;
  }
  .inputContainer {
   display: flex;
   flex-direction: column;
   margin: 0 auto;
  }
  .carouselItem {
    flex: 0 0 100%;
  }
}

/* Styles pour les écrans de taille moyenne (tablette) */
@media screen and (min-width: 577px) and (max-width: 768px) {
  .carouselItem {
    flex: 0 0 50%;
  }
}
