.imageContainer {
  width: 100%;
  height: 20rem;
}

.userConnected,
.userNotConnected {
  font-size: 1.5rem;
  padding: 1.2rem;
  line-height: 2rem;
}

/* style de la description Externatic */
.descriptionHomePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  max-width: 20rem;
}

.containerDescription {
  display: flex;
  width: 90%;
  gap: 2rem;
  flex-direction: column;
}
.titleDescription {
  margin: 1rem;
  font-size: 1.5rem;
}
.aboutExternatic {
  margin: 1rem auto;
  max-width: fit-content;
}
.textDescription {
  text-align: center;
  line-height: 1.4rem;
  font-size: large;
}
.textAndIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.icon.hand,
.icon.rocket,
.icon.hourglass {
  margin-right: 0.8rem;
}

.icon.hand,
.icon.rocket {
  width: 2.5rem;
}

@media screen and (min-width: 768px) {
  .containerHome {
    margin: 4rem 0;
  }
  .imageContainer {
    height: 35rem;
  }

  .userConnected,
  .userNotConnected {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2.3rem;
    line-height: 3rem;
    padding-top: 2rem;
  }

  /* style de la description Externatic */
  .descriptionHomePage {
    max-width: 80rem;
    margin: 4rem auto;
    gap: 2rem;
  }

  .titleDescription {
    width: 100%;
    font-size: 2rem;
  }
  .containerDescription {
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin: auto;
    gap: 2rem;
  }

  .aboutExternatic {
    width: 20rem;
  }

  .textDescription {
    font-size: 1.5rem;
    padding: 0 1rem;
    line-height: 2rem;
  }
  .textAndIcon {
    margin-bottom: 3rem;
  }
  .textAndIcon > h2 {
    font-size: 1.8rem;
  }
}
