.offersPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1rem;
}

@media screen and (min-width: 768px) {
  .offersPage {
    flex-direction: row;
    align-items: flex-start;
    position: relative;
  }
  .offersPage .formOffersFilters {
    width: 30%;
    margin: 0 2rem;
    position: sticky;
    top: 7rem;
  }

  .offersPage .offersListContainer {
    width: 60%;
  }
}
