.subscribeOption {
  display: flex;
  align-items: center;
  margin: 2rem auto;
  flex-direction: column;
}

.subscribeCards {
  flex-direction: column;
  display: flex;
  margin: auto;
}

.applicantCard,
.companyCard {
  display: flex;
  align-items: center;
  margin: 1.8rem auto;
  height: 50vw;
  width: 80vw;
  border: var(--border_card);
  box-shadow: var(--shadow_initial);
  border-radius: 16px;
  background-color: #fff;
  cursor: pointer;

  &:focus {
    border: solid var(--main-color);
  }
}

.applicantCard h2,
.companyCard h2 {
  padding: 1rem;
  font-size: 1rem;
  font-weight: bolder;
}

.applicantCard img,
.companyCard img {
  max-height: 90%;
  max-width: 90%;
  object-fit: fill;
}
.formContainer {
  margin: auto;
  width: 90%;
}

@media screen and (min-width: 768px) {
  .subscribeOption {
    background-image: url("../../assets/images/login-page.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: right;
    background-color: var(--white-80);
    border: solid 0.1rem var(--main-color);
    box-shadow: var(--shadow_initial);
    border-radius: 1rem;
    width: 60rem;
    height: 40rem;
    margin: auto;
    flex-direction: row;
  }

  .form.subscription {
    max-width: 22rem;
    margin: auto 4rem;
  }
  .subscribeCards {
    gap: 3rem;
    margin: auto 4rem;

  }

  .applicantCard,
  .companyCard {
    width: 20rem;
    height: 10.5rem;
  }
  .applicantCard img,
  .companyCard img {
    height: fit-content;
    width: fit-content;
  }

  .applicantCard h2,
  .companyCard h2 {
    font-size: 1.2rem;
  }
}
