:root {
  /* Variables */
  --main-color: #ca2061;
  --main-color-80: #ca2061cc;
  --secondary-color: #851342;
  --secondary-color-80: #851342cc;
  --third-color: #eac1cc;
  --light-black: #404040;
  --light-grey: #d9d9d9;
  --background-grey: #f5f5f5;
  --white-80: #ffffffcc;
  --basic-grey: #555555;
  --shadow_initial: 2px 4px 8px -2px grey;
  --shadow_hover: 4px 8px 16px -4px grey;
  --border_card: 0.5px solid grey;

  /* Global style */
  font-family: "Jost", sans-serif;
}

html {
  display: flex;
  justify-content: center;
}

body {
  width: 100vw;
  border: red 1px solid;
  background-color: var(--background-grey);
}

a {
  text-decoration: none;
}

.hide {
  display: none;
}
