:root {
  /* Variables */
  --main-color: #ca2061;
  --main-color-80: #ca2061cc;
  --secondary-color: #851342;
  --secondary-color-80: #851342cc;
  --third-color: #eac1cc;
  --light-black: #404040;
  --light-grey: #d9d9d9;
  --background-grey: #f5f5f5;
  --white-80: #ffffffcc;
  --basic-grey: #555555;
  --shadow_initial: 2px 4px 8px -2px grey;
  --shadow_hover: 4px 8px 16px -4px grey;
  --border_card: 1px solid lightgrey;
}

/* Font sizes */
* {
  font-size: 1rem;
  font-family: "Jost", sans-serif !important;
}

h1,
h2,
h3,
h4 {
  text-align: center;
  font-weight: bold;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.3rem;
}

.errorTitle {
  color: red;
  text-align: center;
  font-size: 0.8rem;
}

@media screen and (min-width: 768px) {
  .errorTitle {
    font-size: 1.3rem;
  }
}

/* Global queries */
html {
  display: flex;
  justify-content: center;
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  background-color: var(--background-grey);
}

a {
  text-decoration: none;
  color: black;
  display: flex;
}

.globalContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 1rem;
  border: var(--border_card);
  box-shadow: var(--shadow_initial);
  border-radius: 1rem;
  gap: 1rem;
  width: 95%;
  max-width: 60rem;
  background-color: white;
}

.offersFavoriesContainer{
  min-height: calc(100vh - 7vh - 48px - 15rem);
}


/* Global form */

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 1rem;
  border: var(--border_card);
  box-shadow: var(--shadow_initial);
  border-radius: 1rem;
  gap: 2rem;
  width: 95%;
  max-width: 60rem;
  background-color: white;
}

.formContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

/* Global buttons */
.button {
  background-color: black;
  border-radius: 5rem;
  padding: 0.5rem 1rem;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  box-shadow: var(--shadow_initial);
}

.button * {
  color: #fff;
}

a:hover {
  color: var(--main-color);
}

.button a:hover {
  color: white;
}

.button:hover {
  background-color: var(--main-color);
  cursor: pointer;
}

/* Global text input */
.containerTextInput {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  border-bottom: solid 1px var(--basic-grey);
  width: 95%;
  max-width: 20rem;
  position: relative;
}

.containerTextInput:hover {
  border-bottom: solid 1px var(--main-color);
}

.textInput {
  font-size: 1rem;
  margin: 1rem 0;
  border: none;
  background: transparent;
  width: 100%;
  &:focus {
    outline: none;
  }
}

.textAreaInput {
  width: 100%;
  min-width: 50%;
  max-width: 100%;
  min-height: 10rem;
}

/* Global radio input */
.containerRadioInput {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.labelRadioInput {
  font-size: 1.2rem;
}

.radioInput {
  margin: 0;
}

/* Global select and option input */
.selectContainer {
  width: 95%;
  max-width: 20rem;
  border-radius: 1rem;
  box-shadow: var(--shadow_initial);
  border: 1px solid #ffffff00;
}

.selectContainer:hover {
  border: 1px solid var(--main-color);
}

.selectTitle {
  padding: 1rem;
  width: 100%;
  cursor: pointer;
  font-size: 1rem;
}

.selectOptionsContainer {
  display: flex;
  padding: 1rem;
  gap: 0.8rem;
  flex-wrap: wrap;
  justify-content: center;
}

.selectOption {
  text-align: center;
}

.optionCheckbox:checked + .optionLabel {
  border: 1px solid var(--main-color);
}

.optionCheckbox {
  display: none;
}

.optionLabel {
  border-radius: 0.6rem;
  padding: 0.4rem 0.8rem;
  cursor: pointer;
  border: 1px solid var(--light-grey);
  display: flex;
}

/* Other */
.hide {
  display: none;
}

.blur {
  filter: blur(0.5rem);
}

.divider {
  width: 90%;
  border-top: 1px solid var(--light-grey);
}

.error {
  color: red;
  font-weight: bold;
}

.success {
  color: green;
  font-weight: bold;
}
